nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 80px;
    /* padding: 0 50px; */
  }
  
  .logo img {
    height: 65px;
  }
  
  .menu-btn {
    display: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu-btn span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  

  @media (max-width: 768px) {
    .menu-btn {
      display: block;
    }
  
    .nav-links {
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #333;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
    }
  
    .nav-links li {
      margin: 0;
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  
    .nav-links li a {
      font-size: 20px;
    }
  
    .nav-links.active {
      opacity: 1;
      pointer-events: auto;
    }
  
    .menu-btn span {
      transform: rotate(0deg);
    }
  
    .menu-btn.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .menu-btn.active span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-btn.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
  


  // slideshow

  .slideshow-container {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  .mySlides {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover;
  }
  
  .mySlides.active {
    opacity: 1;
  }
  
