nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 15px;
  }
  
  .logo img {
    height: 100px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 40px;
  }
  
  .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    background-color: #fff;
    color: #333;
  }
  /* .hero-image {
    background-image: url('./galley\ img/team-pic.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */


  .hero-container {
    position: relative;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: #fff;
  }
  
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .hero-text button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .hero-text button:hover {
    background-color: #333;
    color: #fff;
  }
  
  .hero-image {
    background-image: url('/galley\ img/team-pic.jpg');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  